*.ipynb*
*.pyc
*.swp

.DS_Store
.idea/
.pytest_cache/
.vscode/

__pycache__/
data/
search_engine/indexes*
search_engine/resources*
search_engine_all/indexes*
search_engine_all/resources*
search_engine_small/indexes*
search_engine_small/resources*
transfer/flagged
user_session_logs/
data_*